.text-over-image{
	z-index: 2; 
	position:absolute; 
	color: white; 
	font-size: 40px;
	top: auto; 
	left: 50px;
}
.image-under-text{
	z-index: 1; 
	position:relative;
}
.content-container{
	
	padding-top: 10px;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.img-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

}
.avatar-container{
	padding-right: 0px;
	margin-right: 0px;
}
.img-avatar{
	width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-avatar-child{
	width: 65px;
    height: 65px;
    border-radius: 50%;
}
.username{
	text-align: center;
	margin-bottom: 0px;
}
.total-comment{
	padding-left: 0px;
	margin-left: 0px;
}
.text-location{
	font-size: 14px;
}
.text-comment{
	margin-bottom: 5px;
}
.comment-container{
	margin-top: 5px;
	margin-bottom: 5px;
}
.camera{
	background-color: transparent;
}
.lb-image{
	padding: 5px;
    margin: 0px;
}
